
.Detail-navbar{
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
    color: var(--dark);
}
.Back-icon{
    font-size: 25px;
    cursor: pointer;

}
.wislist-Detail{
    font-size: 30px;
    cursor: pointer;
}
.Detail-titel{
     font-weight: 600;
      font-size: 18px;
}
.Detail-div{
    width: 100%;
    padding: 20px;
}
.Detail-main-img{
    width: 100%;

}
.Detail-main-img img{
    width: 100%;
}
.produt-Detail-titel{
    font-size: 20px;
    font-weight: 600;
    color:var(--dark);
    margin-top: 10px;
}
.delivery{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.delivery p{
    color: var(--secondary);
}
.delivery-icon{
    display: flex;
    align-items: center;
    gap: 20px;
    color: var(--primary);
    
}
.delivery-icon-style{
    height: 50px;
    width: 50px;
    background: #EDEDED;
    border-radius: 10px;
    font-size: 25px;
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: center;
}
.Detali-line{
    margin-top: 30px;
    background-color: #EDEDED;
}
.Description-titel{
    color: var(--dark);
     font-weight: 600;
     font-size: 20px;
     margin-top: 10px;
}
.Description-para{
     font-size: 14px;
     color: var(--secondary);
     line-height: 24px;
}
.bold-active{
    font-weight: bold;
    color: var(--primary);
    cursor: pointer;
}
.Size{
    margin-top: 20px;
}
.size-btn-all{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}
.size-btn-all button{
    padding: 13px 40px;
    border: 2px solid var(--primary);
    border-radius: 10px;
    background: #dad2cc50;
    font-size: 17px;
    cursor: pointer;
}
.Size-cative{
    background: #c67c4e3c !important;
    color: var(--primary);
}


.Size-titel{
    font-weight: 600;
    font-size: 16;
    color: var(--dark);
}

.Detail-bar{
     width: 100%;
    background-color:var(--white);
    height: 90px;
    position: fixed;
    display: flex;
    align-items: center;
    bottom: 0;
 border-top-left-radius: 20px;
 justify-content: space-between;
 padding: 20px;
border-top-right-radius: 20px;
box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}
.Price-prudet p{
    color: var(--secondary);
    font-size: 14;
    font-weight: 400;

}
.Price-prudet h2{
    color: var(--primary);
    font-size: 18;
}
.Buy-Now{
    width: 217px;
    height: 56px;
    background-color: var(--primary);
    font-size: 20px;
    color: var(--white);
    cursor: pointer;
    border: none;
    border-radius: 10px;
}