
.Detail-navbar{
    display: flex;
    padding: 30px;
    align-items: center;
    justify-content: space-between;
    color: var(--dark);
}
.Back-icon{
    font-size: 25px;
    cursor: pointer;

}
.wislist-Detail{
    font-size: 30px;
    cursor: pointer;
}
.Detail-titel{
     font-weight: 600;
      font-size: 18px;
}
.Detail-div{
    width: 100%;
    padding: 20px;
}
.Detail-main-img{
    width: 100%;

}
.Detail-main-img img{
    width: 100%;
}
.produt-Detail-titel{
    font-size: 20px;
    font-weight: 600;
    color:var(--dark);
    margin-top: 10px;
}
.delivery{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.delivery p{
    color: var(--secondary);
}
.delivery-icon{
    display: flex;
    align-items: center;
    gap: 20px;
    color: var(--primary);
    
}
.delivery-icon-style{
    height: 50px;
    width: 50px;
    background: #EDEDED;
    border-radius: 10px;
    font-size: 25px;
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: center;
}
.Detali-line{
    margin-top: 30px;
    background-color: #EDEDED;
}
.Description-titel{
    color: var(--dark);
     font-weight: 600;
     font-size: 20px;
     margin-top: 10px;
}
.Description-para{
     font-size: 14px;
     /* font-size: ; */
     color: var(--secondary);
     line-height: 24px;
}
.bold-active{
    font-weight: bold;
    color: var(--primary);
    cursor: pointer;
}
.Size{
    margin-top: 20px;
}
.size-btn-all{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}
.size-btn-all button{
    padding: 13px 40px;
    border: 2px solid var(--primary);
    border-radius: 10px;
    background: #dad2cc50;
    font-size: 17px;
    cursor: pointer;
}
.Size-cative{
    background: #c67c4e3c !important;
    color: var(--primary);
}


.Size-titel{
    font-weight: 600;
    font-size: 16;
    color: var(--dark);
}
