
.home-head{
    width:100%;
    height: 280px;
    background-color: var(--dark);
    padding: 10px;
    position: relative;
    
}
.Location-div{
    display: flex;
    flex-direction: column;
    padding-top:20px ;
}
.Location-name{
    font-weight: 400;
    font-size: 12px;
    color: var(--secondary);
}
.Location{
    font-weight: 500;
    font-size: 14px;
    display: flex;
    margin-top: 5px;
}
.Location-icon{
    margin-left: 5px;
    cursor: pointer;
    font-weight: 400;
}
.serach-bar{
    background-color: #2A2A2A;
    width: 259px;
    height: 52px;
    border-radius: 10px;
    display: flex;
    margin-top: 30px;
    align-items: center;
}
.serach-btn-home{
    border: none;
    outline: none;
    background-color: rgba(0, 0, 128, 0);
    color: var(--white);
    margin-top: 2px;
      margin-left: 10px;
    font-size:25px ;
}
.serach-bar input{
 background:none ;
 outline: none;
    font-size:19px ;
    margin-left: 10px;

 border: none;
}
.home-search-contaner{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.adjast-icon{
    width: 52px;
    height: 52px;
    border-radius: 5px;
    border: none;
    outline: none;
    background: var(--primary);
    font-size: 32px;
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-top: 30px;


}
.Buy-one-get{
    width: 100%;
    height: 140px;
    border-radius: 10px;
    /* border: 2px solid  black; */
    overflow: hidden;
    /* position: absolute; */
    margin-top: 40px;  /* adjust this */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../imgs/Banner\ 1.png);
    position: relative;
}

.Buy-one-get-heading{
    font-weight: 600;
    font-size: 40px;
    margin-left: 10px;
    margin-top: 10px;
    position: relative;
    z-index: 2;
}
.Buy-one-get-heading2{
    font-weight: 600;
    font-size: 37px;
    margin-left: 10px;
    margin-top: 10px;
     position: relative; 
    z-index: 987;
}
.Buy-one-get-heading2::before{
    height: 25px;
    content: "";
    width: 170px;
    background-color: black;
    position: absolute;
    top: 15px;
    z-index: -777;


}
.Buy-one-get-heading::after{
    content: "";
    position: absolute;
    height: 25px;
    width: 240px;
    background-color: black;
    top: 15px;
    left: 0;
    z-index: -1;
}
.filter-btns-All{
    display: flex;
    align-items: center;
    overflow: scroll;
    width: 100%;
    justify-content: space-between;
     
     margin-top: 20px;
     
  
}
.filter-btns-All button{
    border: none;
    outline: none;
    font-weight: 600;
    font-size: 14px;
    padding: 10px 10px;
    border-radius: 4px;
    cursor: pointer;

}
.filter-btns-All button.active{
   background-color: var(--primary);
   color: var(--white);

}
.prodet-all-div{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
     justify-content: space-between;
     margin-top: 20px;
     row-gap: 20px;

}
.prodet-card{
    width:47%;
    height: 253px;
    background-color: var(--white);
    border-radius: 15px;
    padding: 10px;
}
.prodet-card-img{
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 140px;
    border-radius: 17px;
    /* border: 2px solid black; */
}
.prodet-card img{
    width: 100%;

}
.prodet-card-heading{
    font-weight: 600;
    font-size: 16px;
    margin-top: 10px;
    color: var(--dark);
}
.prodet-card-datial{
    font-weight: 400;
    font-size: 12px;
    color: var(--secondary);
    margin-top: 5px;
}
.price-cart-div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--dark);
    margin-top: 7px;
    align-items: center;
}
.price-cart-div h2{
    font-weight: 600;
    font-size: 18px;
    
}
.price-cart-div  button{
    height: 32px;
    width: 32px;
    background-color: var(--primary);
    border: none;
    border-radius: 5px;
    color: var(--white);
    cursor: pointer;    
    font-size: 20px;
    
}
.reating-div{
    background-color: rgba(16, 8, 8, 0.603);
    position: absolute;
    height: 30px;
    width: 60px;
  border-bottom-left-radius: 50px;
    top: 0;
     right: 0;
}
.reating-div-contant{
    display: flex;
    margin-left: 13px;
    margin-top: 4px;
    gap: 5px;
    align-items: center;

}
.active-icon{
    color:#FBBE21 ;
    font-size: 15px;
}
.reating-number{
    font-weight: 600;
    font-size: 12px;
}.bottom-home-bar{
    position: relative;
}
.bottom-bar-home{
    width: 100%;
    background-color:var(--white);
    height: 90px;
    position: fixed;
    bottom: 0;
 border-top-left-radius: 20px;
border-top-right-radius: 20px;
box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}
.spaces{
    height: 100px;
    width: 100%;
}
.icon-bottom-bar-home{
    display: flex;
    align-items: center;
    justify-content: space-around;
     color: var(--dark);
     font-size: 30px;
     margin-top: 20px;
     
}
.icon-bottom-bar-home span{
    cursor: pointer;
}

.active-icon-bar{
    color: var(--primary);
    position: relative;
}
 .active-icon-bar::before{
    content: "";
    height: 8px;
    width: 30px;
     background-color: var(--primary);
     position: absolute;
     margin-top: 32px;
     /* margin-left: 1px; */
border-radius: 10px;
 }















