*{
  margin: 0;
  padding: 0;
  gap: 0;
      box-sizing: border-box;

}
:root {
  --primary: #C67C4E;
  --secondary: #A2A2A2;
  --white: #FFFFFF;
  --dark: #313131;
}
body {
  width: 100%;
  max-width: 420px;   /* mobile width */
  height: 100vh;
  background: #F9F9F9;
  overflow-x: hidden;
  
color: var(--white);
}
body::-webkit-scrollbar {
  display: none;
}

.filter-btns-All::-webkit-scrollbar {
  display: none;
}

body {
  scrollbar-width: none;
  font-family: 'Sora', sans-serif;

}
